$bright_blue: hsl(220, 98%, 61%);
$check-bg:linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$light_gray: hsl(0, 0%, 98%);
$light_grayish_blue_hover: hsl(236, 33%, 92%);
$light_grayish_blue: hsl(233, 11%, 84%);
$dark_grayish_blue: hsl(236, 9%, 61%);
$very-dark_grayish_blue: hsl(235, 19%, 35%);

$dark_blue: hsl(235, 21%, 11%);
$dark_desaturated_blue: hsl(235, 24%, 19%);
$light_grayish_blue: hsl(234, 39%, 85%);
$dark_grayish_blue: hsl(234, 11%, 52%);
$very_dark_grayish_blue: #4d5066;
$very_dark_grayish_blue: #393a4c;